{% section 'side-cart' %}


{{ 'customer.css' | asset_url | stylesheet_tag }}
<script src="{{ 'customer.js' | asset_url }}" defer></script>

{%- paginate customer.addresses by 5 -%}
  <div class="customer addresses" data-customer-addresses>
    <svg style="display: none">
      <symbol id="icon-caret" viewBox="0 0 10 6">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
      </symbol>
    </svg>
    <h1>{{ 'customer.addresses.title' | t }}</h1>

  
    <div data-address class="data-add-address">
      <button
        type="button"
        class="add-new-address-btn"
        aria-expanded="false"
        aria-controls="AddAddress"
      >
        {{ 'customer.addresses.add_new' | t }}
      </button>
      <div id="AddAddress" class="AddAddressDiv">
        <h2 id="AddressNewHeading" class="AddressNewHeading">{{ 'customer.addresses.add_new' | t }}</h2>
        {%- form 'customer_address', customer.new_address, aria-labelledBy: 'AddressNewHeading' -%}

        <div class="name-fields">
          <div class="field">    
            <label for="AddressFirstNameNew">{{ 'customer.addresses.first_name' | t }}</label>     
            <input type="text" id="AddressFirstNameNew" name="address[first_name]" value="{{ form.first_name }}" autocomplete="given-name" placeholder="{{ 'customer.addresses.first_name' | t }}"> 
          </div>
          <div class="field">    
            <label for="AddressLastNameNew">{{ 'customer.addresses.last_name' | t }}</label>      
            <input type="text" id="AddressLastNameNew" name="address[last_name]" value="{{ form.last_name }}" autocomplete="family-name" placeholder="{{ 'customer.addresses.last_name' | t }}">
          </div>

        </div>
         
          <div class="field">  
            <label for="AddressCompanyNew">{{ 'customer.addresses.company' | t }}</label>        
            <input type="text" id="AddressCompanyNew" name="address[company]" value="{{ form.company }}" autocomplete="organization" placeholder="{{ 'customer.addresses.company' | t }}">
          </div>
          <div class="field">  
            <label for="AddressAddress1New">{{ 'customer.addresses.address1' | t }}</label>        
            <input type="text" id="AddressAddress1New" name="address[address1]" value="{{ form.address1 }}" autocomplete="address-line1" placeholder="{{ 'customer.addresses.address1' | t }}">
          </div>
          <div class="field">   
            <label for="AddressAddress2New">{{ 'customer.addresses.address2' | t }}</label>       
            <input type="text" id="AddressAddress2New" name="address[address2]" value="{{ form.address2 }}" autocomplete="address-line2" placeholder="{{ 'customer.addresses.address2' | t }}">
          </div>

          <div class="city-country-div">
            <div class="field">   
              <label for="AddressCityNew">{{ 'customer.addresses.city' | t }}</label>       
              <input type="text" id="AddressCityNew" name="address[city]" value="{{ form.city }}" autocomplete="address-level2" placeholder="{{ 'customer.addresses.city' | t }}">
            </div>
            <div class="field">
              <label for="AddressCountryNew">{{ 'customer.addresses.country' | t }}</label>
              <div class="select">
                <select
                  id="AddressCountryNew"
                  name="address[country]"
                  data-default="{{ form.country }}"
                  autocomplete="country"
                >
                  {{ all_country_option_tags }}
                </select>
                <!-- <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                  <use href="#icon-caret" />
                </svg> -->
              </div>
            </div>

          </div>
        
          <div id="AddressProvinceContainerNew" style="display: none;" >
            <label for="AddressProvinceNew">{{ 'customer.addresses.province' | t }}</label>
            <div class="select">
              <select
                id="AddressProvinceNew"
                name="address[province]"
                data-default="{{ form.province }}"
                autocomplete="address-level1"
              >
              </select>
              <!-- <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                <use href="#icon-caret" />
              </svg> -->
            </div>
          </div>
          <div class="field">
            <label for="AddressZipNew">{{ 'customer.addresses.zip' | t }}</label>
            <input type="text" id="AddressZipNew" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters" autocomplete="postal-code" placeholder="{{ 'customer.addresses.zip' | t }}">
          </div>
          <div class="field">
            <label for="AddressPhoneNew">{{ 'customer.addresses.phone' | t }}</label>
            <input type="tel" id="AddressPhoneNew" name="address[phone]" value="{{ form.phone }}" autocomplete="tel" placeholder="{{ 'customer.addresses.phone' | t }}">
          </div>
          <div>
            {{ form.set_as_default_checkbox }}
            <label for="address_default_address_new">{{ 'customer.addresses.set_default' | t }}</label>
          </div>
          <div>
            <button class="main-form-add-btn">{{ 'customer.addresses.add' | t }}</button>
            <button class="main-form-cancel-btn" type="reset">{{ 'customer.addresses.cancel' | t }}</button>
          </div>
        {%- endform -%}
      </div>
    </div>

    <a href="{{ routes.account_url }}" class="return-to-acc-details">
      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M3.54297 10.2284L16.043 10.2284" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M8.58594 15.2488L3.54427 10.2288L8.58594 5.20801" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      </svg> 
      {{ 'customer.account.return' | t }}
    </a>

    <ul role="list" class="customer-address-list">
    <!-- <h1 class="saved-address">Saved Address</h1> -->

      {%- for address in customer.addresses -%}
        <li data-address>
          {%- if address == customer.default_address -%}
          <div class="customer-name">
            <h2>{{ 'customer.addresses.default' | t }}</h2>
            <!-- <p class="cust-name">{{customer.name}}</p> -->
          </div>
           

          {%- else -%}
          <div class="customer-name">
            <h2>Other</h2>
            <!-- <p class="cust-name"> {{customer.name}}</p> -->
          </div>
           


          {%- endif -%}

         {{ address | format_address | replace: "<br>", ", " }}
          <button
          class="address-edit-btn"
            type="button"
            id="EditFormButton_{{ address.id }}"
            aria-label="{{ 'customer.addresses.edit_address' | t }} {{ forloop.index }}"
            aria-controls="EditAddress_{{ address.id }}"
            aria-expanded="false"
            data-address-id="{{ address.id }}"
          >
            {{ 'customer.addresses.edit' | t }}
          </button>
          <button
          class="address-delete-btn"
            type="button"
            aria-label="{{ 'customer.addresses.delete' | t }} {{ forloop.index }}"
            data-target="{{ address.url }}"
            data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}"
          >
            <!-- {{ 'customer.addresses.delete' | t }} -->
            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M7.02037 5.8903L11.1473 1.89222C11.4159 1.63216 11.4159 1.21168 11.1473 0.951621C10.8789 0.691562 10.4448 0.691562 10.1764 0.951621L6.0493 4.9497L1.92237 0.951621C1.6538 0.691562 1.21988 0.691562 0.95143 0.951621C0.682857 1.21168 0.682857 1.63216 0.95143 1.89222L5.07836 5.8903L0.95143 9.88838C0.682857 10.1484 0.682857 10.5689 0.95143 10.829C1.08521 10.9587 1.26112 11.0239 1.4369 11.0239C1.61268 11.0239 1.78846 10.9587 1.92237 10.829L6.0493 6.8309L10.1764 10.829C10.3103 10.9587 10.4861 11.0239 10.6618 11.0239C10.8376 11.0239 11.0134 10.9587 11.1473 10.829C11.4159 10.5689 11.4159 10.1484 11.1473 9.88838L7.02037 5.8903Z" fill="black"/>
            </svg> 
          </button>
          <div id="EditAddress_{{ address.id }}" class="editAddress__form">
            <h2>{{ 'customer.addresses.edit_address' | t }}</h2>
            {%- form 'customer_address', address -%}


            <div class="name-fields">

              <div class="field">
                <label for="AddressFirstName_{{ form.id }}">{{ 'customer.addresses.first_name' | t }}</label>               
                <input type="text" id="AddressFirstName_{{ form.id }}" name="address[first_name]" value="{{ form.first_name }}" autocomplete="given-name" placeholder="{{ 'customer.addresses.first_name' | t }}">
              </div>
              <div class="field">  
                <label for="AddressLastName_{{ form.id }}">{{ 'customer.addresses.last_name' | t }}</label>              
                <input type="text" id="AddressLastName_{{ form.id }}" name="address[last_name]" value="{{ form.last_name }}" autocomplete="family-name" placeholder="{{ 'customer.addresses.last_name' | t }}">
              </div>

            </div>
              
              <div class="field">
                <label for="AddressCompany_{{ form.id }}">{{ 'customer.addresses.company' | t }}</label>                
                <input type="text" id="AddressCompany_{{ form.id }}" name="address[company]" value="{{ form.company }}" autocomplete="organization" placeholder="{{ 'customer.addresses.company' | t }}">
              </div>
              <div class="field">
                <label for="AddressAddress1_{{ form.id }}">{{ 'customer.addresses.address1' | t }}</label>                
                <input type="text" id="AddressAddress1_{{ form.id }}" name="address[address1]" value="{{ form.address1 }}" autocomplete="address-line1" placeholder="{{ 'customer.addresses.address1' | t }}">
              </div>
              <div class="field">
                <label for="AddressAddress2_{{ form.id }}">{{ 'customer.addresses.address2' | t }}</label>                
                <input type="text" id="AddressAddress2_{{ form.id }}" name="address[address2]" value="{{ form.address2 }}" autocomplete="address-line2" placeholder="{{ 'customer.addresses.address2' | t }}">
              </div>

              <div class="city-country-div">

                <div class="field">
                  <label for="AddressCity_{{ form.id }}">{{ 'customer.addresses.city' | t }}</label>                
                  <input type="text" id="AddressCity_{{ form.id }}" name="address[city]" value="{{ form.city }}" autocomplete="address-level2" placeholder="{{ 'customer.addresses.city' | t }}">
                </div>
                <div>
                  <label for="AddressCountry_{{ form.id }}">
                    {{ 'customer.addresses.country' | t }}
                  </label>
                  <div class="select">
                    <select
                      id="AddressCountry_{{ form.id }}"
                      name="address[country]"
                      data-address-country-select
                      data-default="{{ form.country }}"
                      data-form-id="{{ form.id }}"
                      autocomplete="country"
                    >
                      {{ all_country_option_tags }}
                    </select>
                    <!-- <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                      <use href="#icon-caret" />
                    </svg> -->
                  </div>
                </div>

              </div>
         
              <div id="AddressProvinceContainer_{{ form.id }}" style="display:none;">
                <label for="AddressProvince_{{ form.id }}">
                  {{ 'customer.addresses.province' | t }}
                </label>
                <div class="select">
                  <select
                    id="AddressProvince_{{ form.id }}"
                    name="address[province]"
                    data-default="{{ form.province }}"
                    autocomplete="address-level1"
                  >
                  </select>
                  <!-- <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                    <use href="#icon-caret" />
                  </svg> -->
                </div>
              </div>
              <div class="field">  
                <label for="AddressZip_{{ form.id }}">{{ 'customer.addresses.zip' | t }}</label>              
                <input type="text" id="AddressZip_{{ form.id }}" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters" autocomplete="postal-code" placeholder="{{ 'customer.addresses.zip' | t }}">
              </div>
              <div class="field">
                <label for="AddressPhone_{{ form.id }}">{{ 'customer.addresses.phone' | t }}</label>                
                <input type="tel" id="AddressPhone_{{ form.id }}"  name="address[phone]" value="{{ form.phone }}" autocomplete="tel" placeholder="{{ 'customer.addresses.phone' | t }}">
              </div>
              <div>
                {{ form.set_as_default_checkbox }}
                <label for="address_default_address_{{ form.id }}">
                  {{ 'customer.addresses.set_default' | t }}
                </label>
              </div>
              <div>
                <button class="customer-add-edit-btn">{{ 'customer.addresses.update' | t }}</button>
                <button class="customer-cancel-edit-btn" type="reset">{{ 'customer.addresses.cancel' | t }}</button>
              </div>
            {%- endform -%}
          </div>
        </li>
      {%- endfor -%}
    </ul>


   
  
    {%- if paginate.pages > 1 -%}
      {%- if paginate.parts.size > 0 -%}
          <nav class="pagination" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
            <ul role="list">
            {%- if paginate.previous -%}
              <li>
                <a href="{{ paginate.previous.url }}" aria-label="{{ 'general.pagination.previous' | t }}">
                  <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                  </svg>
                </a>
              </li>
            {%- endif -%}

            {%- for part in paginate.parts -%}
              <li>
                {%- if part.is_link -%}
                  <a href="{{ part.url }}" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</a>
                {%- else -%}
                  {%- if part.title == paginate.current_page -%}
                    <span aria-current="page" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</span>
                  {%- else -%}
                    <span>{{ part.title }}</span>
                  {%- endif -%}
                {%- endif -%}
              </li>
            {%- endfor -%}

            {%- if paginate.next -%}
              <li>
                <a href="{{ paginate.next.url }}" aria-label="{{ 'general.pagination.next' | t }}" >
                  <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                  </svg>
                </a>
              </li>
            {%- endif -%}
            </ul>
          </nav>
      {%- endif -%}
    {%- endif -%}
  </div>
{%- endpaginate -%}

<script>
  window.onload = () => {
    typeof CustomerAddresses !== 'undefined' && new CustomerAddresses();
  }
</script>