<div class="about-us-template">
    <div class="container">
        <div class="about-us__details-grid">
            <div class="about_upper">
                <div class="about_details">
                    <h2>
                        Clean Beauty Promise
                    </h2>
                    <p>"I learned early on that not every natural ingredient is good for skin, nor is every synthetic ingredient bad.</p>
                    <p>To me, clean beauty is about finding the best ingredient for the best outcome. We strive to be as natural as we can be but we also want our products to work. If a synthetic ingredient is necessary in a specific instance, we make sure it's thoroughly safety vetted and approved. We'll always be transparent about our formulations so you can feel good about your skin from the inside out."</p>
                    <h4>- Victoria Radford </h4>
                </div>
                <div class="about_image">
                    {{'radford-about-us-1.jpg'  | asset_img_url: 'master' | img_tag}}
                </div>
            </div>
            <div class="about_lower">
                <div class="about_image">
                    {{'radford-about-us-2.jpg'  | asset_img_url: 'master' | img_tag}}
                </div>
                <div class="about_details">
                    <h2>Packaging : Beauty outside the box</h2>
                    <p>We strive towards more sustainable packaging and reduce non-reusable packaging wherever possible. We don't over-box our products for this reason.</p>
                    <p>But we know it isn't enough. We're constantly looking for better solutions and will continue to make sustainable changes as our company goes. </p>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- This is the CODE for VICTORIA'S PICK (PAIRS WELL WITH) ======  Desktop ====== (same code as PAIRS WELL WITH (PDP)) -->

<div class="pairs-well-with-desktop victorias-pick-desktop">
    <div class="container">
  
      <h2 class="section-heading">{{section.settings.collection_title}}</h2>
  
  
      {% assign collection_main = collections[section.settings.collection_main] %}
   
      <ul class="test-grid">
   
      {%for featured_product_1 in collection_main.products%}
  
          <li>
  
              <div class="product-div">
                  <!-- implementing the infinite scroll hence removed the logic for blocks -->
                  <!-- {%- assign featured_product_1 = all_products[block.settings.product_block] -%} -->
                  {% assign first_variant = featured_product_1.selected_or_first_available_variant %}
                  {% assign featured_img_src = first_variant.featured_img.src | default: featured_product_1.featured_image.src %}
                  {% assign price = first_variant.price %}
                  {% assign compare_at_price = first_variant.compare_at_price %}
                  {%- assign custom_variant = featured_product_1.variants -%}
  
                  <div class="boost-pfs-filter-product-item-image">
               
                  <a href="{{featured_product_1.url}}">
                      <img src="{{featured_img_src | img_url: 'master'}}" alt="{{ featured_product_1.featured_img.alt }}">
                  </a>
  
                  <span class="product-path" style="display: none;">
                    {{featured_product_1.featured_image.src | img_url: 'small' | split: '/products' | first }}
                </span>
                <div style="display:none;" class="variant-data">
                    {%for i in (0..featured_product_1.variants.size)%}
                    <p>{{ featured_product_1.variants[i].image }}</p>
                    {%endfor%}
                </div>
  
                </div>
                  
                 
                  <form method="post" action="/cart/add" class="AddToCartForm-submit" id="AddToCartForm-new">
  
                      {%if featured_product_1.has_only_default_variant != true%}
                          <div class="swatches-popup-mobile">
                            <p class="swatch-popup-btn" id="swatch-popup-btn">{{featured_product_1.variants.size}} shades</p>  
  
                            <div class="variant-swatch-popup" id="variant-swatch-popup" >
                                <div class="variant-swatch-titles">
                                    <p>SELECT SHADE</p>
                                    <button class="swatch-popup-btn-close" id="swatch-popup-btn-close">
                                      <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                          <path d="M5.91616 4.84372L9.80997 1.07149C10.0634 0.826121 10.0634 0.429394 9.80997 0.184026C9.55669 -0.0613421 9.14716 -0.0613421 8.89388 0.184026L4.99995 3.95626L1.10614 0.184026C0.852742 -0.0613421 0.443335 -0.0613421 0.190052 0.184026C-0.0633506 0.429394 -0.0633506 0.826121 0.190052 1.07149L4.08386 4.84372L0.190052 8.61596C-0.0633506 8.86133 -0.0633506 9.25805 0.190052 9.50342C0.316278 9.62582 0.482247 9.68731 0.648098 9.68731C0.813948 9.68731 0.979799 9.62582 1.10614 9.50342L4.99995 5.73119L8.89388 9.50342C9.02022 9.62582 9.18607 9.68731 9.35192 9.68731C9.51777 9.68731 9.68362 9.62582 9.80997 9.50342C10.0634 9.25805 10.0634 8.86133 9.80997 8.61596L5.91616 4.84372Z" fill="black"/>
                                      </svg>   
                                    </button>
                                </div>
  
                               <div class="variant-swatches">
                       
      
                                  <div class="variant-swatch-options">
              
                                    {%for variant in featured_product_1.variants%}
                                    <div class="current-variant">
                                      <input type="radio" value="{{ variant.id }}" class="variant-color-input" name="id" id="color-{{forloop.index}}" >
  
          
                                      <!-- <p>COLOR:{{variant.title}} </p>  -->
                                      <label for="color-{{forloop.index}}" class="variant-color-swatch" data-variant-title="{{variant.title}}">
                                        <img class="swatch-images" src="{{variant.title | escape | append : '.jpg' | strip | asset_url}}" alt="{{variant.title}}" onerror="this.src='{{featured_product_1 | img_url}}'">
                                        <p>{{variant.title}}</p>
                                      </label>
            
                                      <!-- {{variant.title | escape | append : '.jpg' | strip }} -->
                                    </div>
                                   
                                  {%endfor%}
              
                                  </div>
              
                                  </div>
  
                            </div>
                            <div class="variant-swatch-popup-overlay">
  
                            </div>
                          </div>
  
                          {%else%}
                          <div class="swatch-btn-placeholder"></div>
  
                          {%endif%}
  
                      <a href="{{featured_product_1.url }}">
                          <h5 class="prod-title">{{ featured_product_1.title }}</h5>
                      </a>
                      
  
  
  
                      
                      <!-- {% if featured_product_1.has_only_default_variant %}
                  <input name="id" id="productSelect" value="{{ featured_product_1.id }}" type="hidden">
                  {% else %}
                  <select name="id">
                      {% for variant in featured_product_1.variants %}
                      <option value="{{ variant.id }}">{{ variant.title }}</option>
                      {% endfor%}
                  </select>
                  {% endif %} -->
  
                  <div class="price-swatch-div">
  
                      <p class="product__product-price">{{ price | money }}</p>
  
  
                      {% if featured_product_1.has_only_default_variant %}
                      <input class="default-variant-box-def" name="id" value="{{ featured_product_1.variants.first.id }}" type="hidden">
                  {% else %}
  
  
                  <input class="default-variant-id-pdp default-variant-box-def" id="default-variant-box-def" name="id" value="{{ featured_product_1.variants.first.id  }}" type="hidden">
  
  
  
  
                    <div class="variant-swatches">
                   
  
                      <div class="variant-swatch-options">
  
                        {%for variant in featured_product_1.variants limit:3%}
  
                        {%unless featured_product_1.tags contains 'Bundles' or featured_product_1.tags contains '_bundles'%}
  
  
                            <!-- <p>COLOR:{{variant.title}} </p>  -->
                            <label for="color-{{variant.id}}" class="variant-color-swatch variant-color-swatch-def" data-variant-title="{{variant.title}}">
                              <img class="swatch-images" src="{{variant.title | escape | append : '.jpg' | strip | asset_url}}" alt="{{variant.title}}" onerror="this.src='{{featured_product_1 | img_url}}';this.style.display='none'">
                            </label>
  
                            {%endunless%}
  
                            <!-- {{variant.title | escape | append : '.jpg' | strip }} -->
                            <input type="radio" value="{{ variant.id }}" class="variant-color-input" name="id" id="color-{{variant.id}}" style="display: none;">
                           
                      {%endfor%}
  
                      {%if featured_product_1.variants.size > 3%}
                      <a href="{{featured_product_1.url}}" style="color: black;text-decoration: underline;">
                          +{{featured_product_1.variants.size | minus:3}}
                      </a>
                      {%endif%}
  
                      </div>
  
                      </div>
  
                
  
  
  
  
  
  
  
                     
                     
                  {% endif %}
  
                  </div>
  
  
                      <!-- <input type="hidden" name="id" value="{{ featured_product_1.variants.first.id }}" /> -->
                      <input min="1" type="hidden" id="quantity" name="quantity" value="1"/>
                      <input type="submit" value="Add to cart" class="add-to-cart-btn"/>
                  </form>
              
              </div>
  
          </li>
      
      {%endfor%}
      </ul>
  
      </div>
      
  
  </div>




  <!-- This is the CODE for VICTORIA'S PICK (PAIRS WELL WITH)  ======  Mobile ====== ( 4 card design ) -->

<div class="pairs-well-with-mobile victorias-pick-mobile">
    <div class="container">
  
      <h2 class="section-heading">{{section.settings.collection_title}}</h2>
  
  
      {% assign collection_main = collections[section.settings.collection_main] %}
  
  
  
  
   
  
  
  
  
  
        <div class="four-card-grid-items">
        
  
         
  <ul>
          <!-- {{collection_main.products.size}} -->
          {%assign pagination = collection_main.products.size | divided_by:4  | ceil %}
          <!-- {%assign pagination = 20%} -->
          <!-- {{pagination}} -->
  
  
  
                
  
                     {%for i in (0..4)%}
  
                     <div class="prod-inside-pagination">
                       {% assign counter = 4 | times:i%}
                       {% assign counterEnd = 4 | times:i | plus:3%}
                              {%for x in (counter..counterEnd)%}
                              <div class="individual-prod">
                                  <!-- {{collection_main.products[x].title}} -->
                                  {%assign currentProduct = collection_main.products[x]%}
                                  {%if currentProduct %}
  
  
  
  
  
                                  <div class="product-div">
  
  
                                    <div class="boost-pfs-filter-product-item-image">
                                    <a href="{{currentProduct.url}}">
                                      <img src="{{ currentProduct.featured_image.src| img_url: 'master'}}" alt="{{ currentProduct.featured_img.alt }}">
                                  </a>
  
                                  <span class="product-path" style="display: none;">
                                    {{currentProduct.featured_image.src | img_url: 'small' | split: '/products' | first }}
                                </span>
                                <div style="display:none;" class="variant-data">
                                    {%for p in (0..currentProduct.variants.size)%}
                                    <p>{{ currentProduct.variants[p].image }}</p>
                                    {%endfor%}
                                </div>
                                </div>
  
  
  
                                  <form method="post" action="/cart/add" class="AddToCartForm-submit" id="AddToCartForm-new">
  
                                    {%if currentProduct.has_only_default_variant != true%}
                                        <div class="swatches-popup-mobile">
                                          <p class="swatch-popup-btn" id="swatch-popup-btn">{{currentProduct.variants.size}} 
                                            {% if currentProduct.tags contains 'Bundles' or currentProduct.tags contains '_bundles' %}
                                            options</p>
                                            {%else%}
                                            shades</p>  
                                            {% endif %}
                
                                          <div class="variant-swatch-popup" id="variant-swatch-popup" >
                                              <div class="variant-swatch-titles">
                                                {% if currentProduct.tags contains 'Bundles' or currentProduct.tags contains '_bundles' %}
                                              <p>SELECT OPTIONS</p>
                                              {%else%}
                                                  <p>SELECT SHADE</p>
                                                  {% endif %}
                                                  <button class="swatch-popup-btn-close" id="swatch-popup-btn-close">
                                                    <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M5.91616 4.84372L9.80997 1.07149C10.0634 0.826121 10.0634 0.429394 9.80997 0.184026C9.55669 -0.0613421 9.14716 -0.0613421 8.89388 0.184026L4.99995 3.95626L1.10614 0.184026C0.852742 -0.0613421 0.443335 -0.0613421 0.190052 0.184026C-0.0633506 0.429394 -0.0633506 0.826121 0.190052 1.07149L4.08386 4.84372L0.190052 8.61596C-0.0633506 8.86133 -0.0633506 9.25805 0.190052 9.50342C0.316278 9.62582 0.482247 9.68731 0.648098 9.68731C0.813948 9.68731 0.979799 9.62582 1.10614 9.50342L4.99995 5.73119L8.89388 9.50342C9.02022 9.62582 9.18607 9.68731 9.35192 9.68731C9.51777 9.68731 9.68362 9.62582 9.80997 9.50342C10.0634 9.25805 10.0634 8.86133 9.80997 8.61596L5.91616 4.84372Z" fill="black"/>
                                                    </svg>   
                                                  </button>
                                              </div>
  
                                              <input class="default-variant-id-pdp default-variant-box-def" id="default-variant-box-def" name="id" value="{{ currentProduct.variants.first.id  }}" type="hidden">
  
                
                                             <div class="variant-swatches">
                                     
                    
                                                <div class="variant-swatch-options">
                            
                                                  {%for variant in currentProduct.variants%}
                                                  <div class="current-variant" data-current-product-tags="{{currentProduct.tags}}">
                                                    <input type="radio" value="{{ variant.id }}" data-swatch-for ="color-p-{{variant.id}}" class="variant-color-input variant-color-swatch-mob" name="id" id="color-p-{{variant.id}}" >
                
                        
                                                    <!-- <p>COLOR:{{variant.title}} </p>  -->
                                                    <label for="color-p-{{variant.id}}" data-swatch-for ="color-p-{{variant.id}}" class="variant-color-swatch variant-color-swatch-mob" data-variant-title="{{variant.title}}">
                                                      <img class="swatch-images" src="{{variant.title | escape | append : '.jpg' | strip | asset_url}}" alt="{{variant.title}}" onerror="this.src='{{featured_product_1 | img_url}}'">
                                                      <p>{{variant.title}}</p>
                                                    </label>
                          
                                                    <!-- {{variant.title | escape | append : '.jpg' | strip }} -->
                                                  </div>
                                                 
                                                {%endfor%}
                            
                                                </div>
                            
                                                </div>
                
                                          </div>
                                          <div class="variant-swatch-popup-overlay">
                
                                          </div>
                                        </div>
                
                                        {%else%}
                                        <div class="swatch-btn-placeholder"></div>
                
                                        {%endif%}
                
                                    <a href="{{currentProduct.url }}">
                                        <h5 class="prod-title">{{ currentProduct.title }}</h5>
                                    </a>
                                    
          
                
                                <div class="price-swatch-div">
                
                                    <p class="product__product-price">{{ currentProduct.price | money }}</p>
                
                
                                    {% if currentProduct.has_only_default_variant %}
                                    <input class="default-variant-box-def" name="id" value="{{ currentProduct.variants.first.id }}" type="hidden">
                                {% else %}
  
                                <input class="default-variant-id-pdp default-variant-box-def" id="default-variant-box-def" name="id" value="{{ currentProduct.variants.first.id  }}" type="hidden">
  
                
                                  
                                  <div class="variant-swatches">
                                 
                
                                    <div class="variant-swatch-options">
                
                                      {%for variant in currentProduct.variants limit:3%}
                
                                          <!-- <p>COLOR:{{variant.title}} </p>  -->
                                          <label for="color-{{variant.id}}" class="variant-color-swatch variant-color-swatch-def" data-variant-title="{{variant.title}}">
                                            <img class="swatch-images" src="{{variant.title | escape | append : '.jpg' | strip | asset_url}}" alt="{{variant.title}}" onerror="this.src='{{featured_product_1 | img_url}}'">
                                          </label>
                
                                          <!-- {{variant.title | escape | append : '.jpg' | strip }} -->
                                          <input type="radio" value="{{ variant.id }}" class="variant-color-input" name="id" id="color-{{variant.id}}" style="display: none;">
                                         
                                    {%endfor%}
                
                                    {%if currentProduct.variants.size > 3%}
                                    <a href="{{currentProduct.url}}" style="color: black;text-decoration: underline;">
                                        +{{fcurrentProduct.variants.size | minus:3}}
                                    </a>
                                    {%endif%}
                
                                    </div>
                
                                    </div>
                
                
                
                
                
                
                      
                
                                   
                                   
                                {% endif %}
                
                                </div>
                
                
                                    <!-- <input type="hidden" name="id" value="{{ featured_product_1.variants.first.id }}" /> -->
                                    <input min="1" type="hidden" id="quantity" name="quantity" value="1"/>
                                    <input type="submit" value="Add to cart" class="add-to-cart-btn"/>
                                </form>
  
  
  
                                  </div>
                                  {%endif%}
                              </div>
                              {%endfor%}
  
  
                     </div>
                    {%endfor%}
  
  </ul>
  
        </div>
       
  
  
    
  
  
    
  
  
  
  
  
    </div>
  </div>
  






{%schema%}
{
    "name": " Victoria's Pick",
    "settings": [
    {
        "type": "collection",
        "id": "collection_main",
        "label": "Choose a Collection"
    },
   {
       "type": "text",
       "id": "collection_title",
       "label": "Section Heading",
       "default": "Victoria's Pick"
   }],
   "blocks":[
   {
       "type": "product",
       "name": "Product Block",
       "settings":[
           {
               "type": "product",
               "id": "product_block",
               "label": "choose your product"
           }]
   }]
}
{%endschema%}